*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cera Pro';
}


 .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
header {
    border-bottom: 1px solid #E0E0E0;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 12px;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
}


.menu{
    display: flex;
    gap: 50px;
}

.nav{
    border: none;
    background: none;
    font-size: 16px;
    color: #3D3D3D;
    cursor: pointer;
}

.nav:hover{
    color: #46A358;
}

.enter_btn{
    border: none;
    background: none;
    cursor: pointer;
}



.section1{
    background: linear-gradient(97.77deg, rgba(245,245,245,0.5) -23%, rgba(245,245,245,0.5) 107%);
    padding: 68px 43px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.section-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.leftsite{
    max-width: 600px;
}

.leftsite h3{
    font-weight: 500;
    font-size: 14px;
    color: #3D3D3D;
    letter-spacing: 1.3px;
    margin-bottom: 12px;
}

.leftsite h1{
    font-size: 70px;
    font-weight: 900;
    line-height: 1;
    color: #3D3D3D;
    margin-bottom: 10px;
}

.leftsite span{
    color: #46A358;
}

.leftsite h4{
    color: #727272;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 35px;
}

.shop-btn{
    background-color: #46A358;
    border: none;
    padding: 12px 28px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.shop-btn:hover{
    background-color: #389b48;
}



.rightsite{
    position: relative;
}

.big-img{
    height: 450px;
}

.small-img{
    height: 130px;
    position: absolute;
    bottom: 15px;
    left: 50px;
}
